<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!--Materialize-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Custom stylesheet-->
    <link rel="stylesheet" href="/css/style.css" />
    <link href="/css/gallery-materialize.min.css" rel="stylesheet" />
  </head>

  <body>
    <nav class=" teal darken-1 nav-extended">
      <div class="nav-background">
        <div class="pattern active"></div>
      </div>
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">SKKLUB</a>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul class="right hide-on-med-and-down">
          <li><a href="index.html">중앙동아리</a></li>
          <li class="disabled">
            <a href="index-dark.html">학회 (Coming Soon)</a>
          </li>
          <li><a href="blog.html">학교기관/단체 (Coming Soon)</a></li>
          <li class="active"><a href="/about">About</a></li>
        </ul>
        <!-- Dropdown Structure -->

        <div class="nav-header center">
          <h1 class="header">About</h1>
        </div>
      </div>
    </nav>
    <ul class="sidenav" id="nav-mobile">
      <li class="active">
        <a href="/"
          ><i class="material-icons">folder_special</i>중앙동아리</a
        >
      </li>
      <li>
        <a href="index-dark.html"
          ><i class="material-icons">menu_book</i>학회 (Coming Soon)</a
        >
      </li>
      <li>
        <a href="blog.html"
          ><i class="material-icons">school</i>학교기관/단체 (Coming Soon)</a
        >
      </li>
      <li>
        <a href="/about"><i class="material-icons">emoji_people</i>About</a>
      </li>
    </ul>
    <!-- Gallery -->
    
    <div class="container">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel consequatur quis ullam, nulla ipsa distinctio modi, ratione optio fugiat nobis adipisci. Aliquid, cupiditate tenetur eaque voluptatum quis obcaecati similique in!</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi obcaecati pariatur, dignissimos fuga a esse consequatur architecto! Consequatur veniam eius minus, quasi maxime quisquam dolorem repellendus aspernatur sunt laboriosam optio!</p>
      <p>강동헌: 프론트엔드, 백엔드, 디자인<br>최민규: 기획, 벡엔드</p>
      <p></p>
    </div>

    <div id="footer">
      
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script>
    setTimeout(function() {
      console.log("loaded");
      var elems = document.querySelectorAll(".sidenav");
      var instances = M.Sidenav.init(elems, {});

      var resizeImg = document.getElementsByClassName("img-re");
      resizeImg.height = "100px";
      resizeImg.width = "200px";
    }, 100);
  </script>
  <script src="js/cardMaker.js"></script>
</html>