<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      property="og:description"
      content="성균관대학교 모든 동아리를 한눈에!"
    />
    <meta
      property="og:image"
      content="https://scontent-ssn1-1.xx.fbcdn.net/v/t1.0-9/92238014_3274604422569396_9142889958955024384_n.jpg?_nc_cat=103&_nc_sid=110474&_nc_ohc=krDrkRNUNHsAX9ycdeQ&_nc_ht=scontent-ssn1-1.xx&oh=7972617a2f585d91b87c52d149f9f66b&oe=5EB7E72F"
    />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SKKLUB</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-162846832-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-162846832-1");
    </script>

    <!--Materialize-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Custom stylesheet-->
    <link rel="stylesheet" href="/css/style.css" />
    <link href="/css/gallery-materialize.min.css" rel="stylesheet" />

    <link rel="icon" href="/myicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/myicon.ico" type="image/x-icon" />
  </head>

  <body>
    <nav class="teal darken-1 nav-extended">
      <div class="nav-background">
        <div class="pattern active"></div>
      </div>
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">SKKLUB</a>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul class="right hide-on-med-and-down">
          <li><a href="/">중앙동아리</a></li>
          <li class="disabled">
            <a href="/">학회 (Coming Soon)</a>
          </li>
          <li><a href="/dongyun">동아리연합회</a></li>
          <li class="active"><a href="/about">About</a></li>
        </ul>
        <!-- Dropdown Structure -->

        <div class="nav-header center">
          <h1 class="header">About</h1>
          <div style="font-style: italic;">
            "성균관대학교 내 모임을 한 눈에, 스클럽"
          </div>
        </div>
      </div>
    </nav>
    <ul class="sidenav" id="nav-mobile">
      <li>
        <a href="/"><i class="material-icons">folder_special</i>중앙동아리</a>
      </li>
      <li>
        <a href="/"
          ><i class="material-icons">menu_book</i>학회 (Coming Soon)</a
        >
      </li>
      <li>
        <a href="/dongyun"> <i class="material-icons">school</i>동아리연합회</a>
      </li>
      <li class="active">
        <a href="/about"><i class="material-icons">emoji_people</i>About</a>
      </li>
    </ul>
    <!-- Gallery -->

    <div class="container">
      <div class="middle-container">
        <div class="skills">
          <div class="skill-row">
            <h3>스클럽이 무엇인가요 🧐</h3>
            <p>
              스클럽(SKKLUB)은 성균관(SKK)과 모임(CLUB)을 합친 단어로,
              '성균관대학교 내에서 이루어지는 모든 모임'을 의미합니다. 스클럽
              사이트는 교내 모임에 대한 전반적인 정보를 제공합니다.
            </p>
            <p>
              스클럽은 공식성, 개방성, 편리성이란 3가지 원칙을 바탕으로
              설계되었습니다. 이용자는 클릭 몇 번만으로 성균관대의 다양한 모임에
              대해 공식적이고 핵심적인 정보를 얻게 됩니다. 스클럽은 동아리들에는
              스스로를 효과적으로 홍보할 수 있는 확실한 수단이며, 동시에 학내
              구성원뿐만 아니라 성균관대 내 활동이 궁금한 사람이라면 누구나
              간편하게 정보를 열람할 수 있습니다.
            </p>
          </div>
          <div class="skill-row">
            <h3>스클럽이 필요해요 😫</h3>
            <p>
              성균관대학교 내에는 동아리나 학회, 소모임을 비롯한 다양한 모임이
              있음에도 이들의 정보를 얻기란 여간 어려운 일이 아닙니다.
              중앙동아리의 경우 학교 홈페이지에 일부 소개되어 있지만,
              유지·관리가 되지 않는 실정입니다. 또한, 포털 사이트 카페, 페이스북
              페이지, 인스타그램 등 사방에 흩어져 운영되고 있는 모임들의
              웹페이지는 일반 이용자에게 접근성이 떨어짐은 물론, 신입부원 모집
              시기가 다가올 때면 에브리타임 홍보게시판과 새내기 카페에서는
              한바탕 홍보전쟁이 벌어지곤 합니다. 교내 모임을 알고자 하는 사람과
              홍보하고자 하는 사람 모두에게 스클럽이 필요합니다.
            </p>
          </div>
          <div class="skill-row">
            <h3>스클럽은 꿈꿔요 😆</h3>
            <p>
              성균관대학교 중앙 웹프로그래밍 동아리 '멋쟁이사자처럼'은 이미
              2015년 교내 모임 소개사이트의 필요성을 깨닫고 스클럽 페이지를
              제작·배포한 바 있습니다. 이로부터 수 년이 지난 지금, 해당 페이지가
              제대로 운영되고 있지 않는다는 사실을 알게 되었고, 2020년 2월부터
              페이지 개편을 위한 기획에 착수하였습니다. 3월부터는
              인문사회캠퍼스의 동아리연합회 및 중앙동아리 구성원들의 도움을 받아
              인사캠 중앙동아리 소개탭을 우선적으로 제작할 수 있었습니다. 이후
              빠른 시일 안에 인사캠퍼스 내 학회, 소모임 정보를 추가하고, 나아가
              자과캠퍼스의 모든 모임까지 확대할 계획입니다.
            </p>
            <p>
              모든 성균관대학교 내 모임의 공식 허브로 자리 잡는 그 날까지,
              스클럽의 도전은 쉼이 없습니다.
            </p>
            <a
              class="waves-effect waves-light btn"
              href="https://www.notion.so/daniel2231/SKKLUB-554d072166724696afcc3942c601904e"
              target="_blank"
              >개발문서 보기</a
            >
          </div>
        </div>
      </div>
    </div>

    <footer class="teal darken-1 page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">SKKLUB</h5>
            <p class="grey-text text-lighten-4">
              멋쟁이사자처럼 X 성균관대학교
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">SKKU Likelion Links</h5>
            <ul>
              <li>
                <a
                  class="grey-text text-lighten-3"
                  href="https://www.facebook.com/likelionskku"
                  >Facebook</a
                >
              </li>
              <li>
                <a
                  class="grey-text text-lighten-3"
                  href="http://www.skkulikelion.com/"
                  >Website</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="teal darken-1 footer-copyright">
        <div class="container">
          © 2020 Copyright LikeLion SKKU
        </div>
      </div>
    </footer>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script>
    setTimeout(function () {
      console.log("loaded");
      var elems = document.querySelectorAll(".sidenav");
      var instances = M.Sidenav.init(elems, {});

      var resizeImg = document.getElementsByClassName("img-re");
      resizeImg.height = "100px";
      resizeImg.width = "200px";
    }, 100);
  </script>
  <script src="js/cardMaker.js"></script>
</html>
